@import "../layout/center-layout.css";

h1 {
    align-self: center;
}

span #color-description {
    font-size: small;
    color: #333;
}

.button-container {
    display: flex;
    gap: 10px;
}

.color-box {
    background-color: black;
    border: 2px solid black;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

